.navbar {
    background:
}
.nav-link,
.navbar-brand {
    color: #02c9d9;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #7df1fa;
}
.navbar-collapse {
    justify-content: flex-end;
}


